html,body {
    cursor: url('../src/img/cursor.png'), auto;
    scroll-behavior: smooth;
}

::selection {
    background: #ff8a8a;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../src/img/back1.png");
}

.menu {
    position: sticky;
    top: 0px;
    padding: 5px;
    text-align: center;
    background: #383838;
    width: 100%;
    font-size: 15px;
    box-shadow: 0 6px 20px black;
}

.menu:hover {
    cursor: hand;
}
.menu td {
    border-right: 2px solid white;
    padding: 0px;
    transition: padding 0.2s linear;
}

.menu td:hover {
    background: #484848;
    font-size: 15px;
    cursor: hand;
    padding: 17px;
}

.menu td:active {
    background: #343434;
}


.head-title {
    padding: 10px;
    padding-top: 20px;
    border-top: 2px solid white;
    width: 200px;
    font-size: 30px;
}

.dark-back {
    opacity: 80px;
}

.content-section {
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px #0d0d0d;
}

.head-line {
    width: 100%;
    height: 300px;
    opacity: 70%;
    background: black;
}

.head-line-content {
    position: absolute; 
    font-size: 20px;
    top: 50px; 
    left: 50px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s linear;
}

.head-line-content-fadeout {
    opacity: 0; transition: opacity 1s linear;
}

/* FOOTER */
footer {
    background: #141414;
    
}
.foot-line {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background: #141414;
    opacity: 70%;
}

.foot-line-txt {
    position: relative;
    top: 200px;
    padding-left: 20px;
    z-index: 1;
}

.twitch-btn:hover {
    cursor: hand;
}

/* ?? */
#HELLOWORLD {
    cursor: hand;
    position: fixed;
    z-index: 1;
    top: 600px;
    left: 50px;
    opacity: 0;
    height: 20px;
    display: none;
}

#HELLOWORLD_TXT {
    position: fixed;
    font-weight: bold;
    font-size: 20px;
    color: orange;
    top: 600px;
    left: 230px;
    text-shadow: 0px 0px 5px orange;
    display: none;
}

.fuck {
    background: #141414;
    box-shadow: 0px 0px 20px black;
    width: 100%;
    padding: 45px;
    z-index: 5;
    position: fixed;
    top: 40%;
    color: orangered;
    font-size: 23px;
    text-shadow: 0px 0px 3px;
}
